
.box{
	display: inline-block;
	background: black;
	width: 100px;
	height: 200px;

	margin: 20px;
	color: white;
}

#one {
	position: fixed;
	top: 30px;
	left: 10px;
}

.outer {
	width: 500px;
	height: 300px;
	overflow: scroll;
	padding-left: 150px;
}