
#container {
	background-color: 
}

#content {
	background-color: #FFFFFF ;
	background-image: url('../graphics/armenian-topo.jpg');
	background-size: 1000px;
	background-repeat: no-repeat;
	height: 1000px
}


#point {
	position: absolute;
	left: 202px;
	top: 212px;
}

#point2 {
	position: absolute;
	left: 337px;
	top: 206px;
}
#point3 {
	position: absolute;
	left: 341px;
	top: 381px;
}
